<key>com.apple.security.temporary-exception.apple-events</key>
    <array>
        <string>com.spotify.client</string>
        <string>com.apple.Safari</string>
        <string>com.google.Chrome</string>
        <string>com.brave.Browser</string>
        <string>com.microsoft.edgemac</string>
    </array>
